name: CI
on:
  push:
  pull_request:

jobs:
  ci:
    name: Run all flake checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix flake check -L
