name: CI
on:
  push:
  pull_request:

jobs:
  ci:
    name: Run all flake checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - run: nix flake check -L
